# Python Flask & Terraform

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.rej

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
.env

# Logs
*.log

# Runtime data
*.pid
*.seed

# Virtual environment
venv/
*.venv
*.virtualenv
*.virtualenvs/
*.virtualenv/
*.env/
*.env.bak/
env.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pipenv
Pipfile.lock

# .terraform folder
.terraform/

# tfstate files
*.tfstate
*.tfstate.*

# crash.log
crash.log

# .tfvars files
*.tfvars

# Override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraformrc
.terraformrc

# .tfplan files
*.tfplan

# React
...

# IDE files
*.idea
*.vscode
*.DS_Store

.env
azure-key.cer
scripts/test_mongo.py
